<h1>Welcome to the Car Simulator</h1>

<form id= "new_car" action="/cars/create">
  <label for="make">Make: </label>
  <input type="text" name="make" id ="make"/>

  <label for "year">Year: </label>
  <input type="text" name="year" id="year"/>

  <label for "model">Model: </label>
  <input type="text" name="model" id="model"/>
<!--
  <label for "color">Color: </label>
  <input type="text" name="color" id="color"/> -->

  <input type="submit" value= "Create new car"/>
</form>
